$light_color: #f4f4f4;
$font-stack: Verdana, Geneva, Tahoma, sans-seri;
$primary-color: #8da9d6;
$secondary-color: #ff8700;
$showcase1: rgb(180, 180, 148);
$showcase2: rgb(168, 168, 197);
$footer: orange;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  line-height: 1.6;
  // padding:0 10%;
}

.showcase1 {
  background-color: $showcase1;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .upper-nav {
      .nav-list1 {
        display: flex;
        // removes the dots
        list-style-type: none;
        align-items: center;
        justify-content: space-between;
        :hover {
          background-color: rgba(0, 0, 0, 0.8);
          color: white;
        }

        li {
          border-radius: 10px;
          vertical-align: center;
          background-color: $secondary-color;
          a {
            text-decoration: none;
          }
          padding: 5px;
          margin: 5px;
        }

        button {
          border-radius: 10px;
          padding: 10px;
          vertical-align: center;
        }
      }
      //   background-color: red;
    }
  }
}

.order {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .personal-info {
    margin: 5%;
    ul {
      list-style-type: none;
    }
    label{
      border:2px solid white ;
      margin-right: 12px;
    }
    
  }

  .title1 {
    text-align: left;
  }
  .medi-description {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      list-style-type: none;
    }
    // h3 {
    //   padding-left: 10px;
    // }
    
    .amount{
      h3{
        text-align: left;
      }
      margin-right: 50px;
    }
    .medication{
      h3{
        text-align: left;
      }
      margin-right: 50px;
    }
  }
}

.order-submit {
  .drop-pic {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
  }

  .order-btns {
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button {
      width: 120px;
      background-color: rgb(67, 146, 192);
      border: none;
      border-left: 4px solid rgb(32, 32, 156);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    button:hover {
      background-color: black;
      border-left: 4px solid rgb(220, 220, 228);
      border-width: 4px;
      color: white;
    }
  }
}

footer {
  height: 120px;
  h2 {
    padding: 40px;
    text-align: center;
  }
  background-color: $footer;
}
